<footer>
	<p class = "paragraphCenter" >Date de contact</p>
	<p>Adresa de email: contact@musichalloffame.com</p>
	<p class = "paragraphCenter" >Copyright &#169 aprilie 2019-prezent Music Hall of Fame</p>
	<p class = "paragraphCenter"> <a href = "#top" >Inceputul paginii </a> </p>
</footer>
