


* {
	outline: none;
}

body {
	text-align: center;
	margin: 4rem auto;
	box-sizing: border-box;
	text-shadow: 0 1px 1px $clr--gray-mid;
  font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
}


#titlu{

	height: 50px;
	
	text-align:center;
	width:100%;
	color:blue;
}


body{
	background-image: url("/Images/songBackground.jpg");
}

h2{ color: white; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center; }

form{
	background:white;
	opacity: 0.9;
	border-width: 1px;
}
h2{
	font-size: 30px;
}
#searchButton2{
	
	top: 32vw;
	width: 20px;
	left: 50vw;
	
	
}
a{
	color:black;
}
a:hover {
    color:  rgb(218, 120, 29);
}
