@import url('https://fonts.googleapis.com/css?family=El+Messiri|Monoton|Satisfy&display=swap" rel="stylesheet');

html{
	font-size: 16px;
	font-family: 'El Messiri', sans-serif;
}
body {
    background-image: url("../Images/addListSuccessBackground.jpg");
    color: black;
}
.text {
    color: aliceblue;
}

div#continut {
  margin: 10%;
  padding: 5%;
  background-color: white;
  opacity: 0.7;
  border-radius: 35px;
}
a:link {
  padding: 10px;
  color: #323643;
  font-size: 16px;
}
a:hover {
  color: #3e4d7e;
}
#linkuri {
  display: flex;
  flex-direction: row;
}
/* 
Cod animatie
div#animatie {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}
  
  .noteMuzicale {
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 0px solid #000;
  }
  
  .nota-1, .nota-2, .nota-3, .nota-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
  }
  
  .nota-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
  }
  
  .nota-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .nota-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
  }
  
  .nota-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }
   */