body {
    background-image: url("../Images/myPlaylistBackground.jpg");
}
div#continut {
    background-color: #f7f7f7;
    opacity: 0.8;
    border-radius: 25px;
    width: 80%;
    margin: 5%;
    padding: 5%;
}
div#continut h2{
    color: #323643;
}
table {
    border-collapse: collapse;
    width: 70%;
    left: 9%;
    opacity: 1;
  }
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
  
th {
    text-align: left;
    background-color: rgb(112, 96, 185);
    color: white;
}

#linkuri *{
    margin: 2%;
}

#linkuri {
    display: flex;
    flex-direction: row;
}
a:link {
    color: #323643;
    padding: 3px;
    font-size: 15px;
}
a:hover {
    color: #3e4d7e;
}
div#tabelPlusButon {
    display: flex;
    flex-direction: column;
}
.button {
    border-radius: 20%;
    padding: 5px;
    background-color: rgb(218, 155, 40);
    color: white;
    opacity: 0.5;
}
.button:hover {
    opacity: 1;
}
a:hover {
    color: rgb(218, 155, 40);
}

@media only screen and (max-width: 1060px) {
	table {
        padding-bottom: 20%;
    }
}
